/* Fonts */
$lato:   'Lato', sans-serif;
$quatto: 'Quattrocento', serif;
$fa:     'FontAwesome';

.lato   { font-family: $lato;   }
.quattro{ font-family: $quatto; }
.fa     { font-family: $fa;     }

.slim{
    font-weight: 100;
    letter-spacing: .5px;
}


/* Font size */
$mega:    4.5rem;
$alpha:   2.769rem;
$bravo:   1.385rem;
$charlie: 1.2rem;
$delta:   1rem;

.mega   { font-size: $mega;    }
.alpha  { font-size: $alpha;   }
.bravo  { font-size: $bravo;   }
.charlie{ font-size: $charlie; }
.delta  { font-size: $delta;   }


/* Color palette */
$mobile-grey:      #333333;
$med-grey:         #AEAEAE;
$lgt-grey:         #E9E9E9;
$drk-green:        #655B45;
$gry-block:        #222222;
$slogan-border:    #5A5A5A;


.nopadding{ padding: 0; }


/* Backgrounds */
.full-bg{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    @include background-size(cover !important);
}

.bg-primary{
    background: url('/images/bg-primary.jpg') fixed no-repeat center;
    z-index: 1;
}

.bg-primary-blur{ background: url('/images/bg-primary-blur.jpg') fixed no-repeat center; }


body,
html{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 95%;
    line-height: 18px;
    font-family: $lato;
    background: $gry-block;
}

a{
    color: white;
    font-weight: bold;
    &:hover{
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
}

#main{
    position: relative;
    width: 100%;
    min-height: 100%;
    z-index: 2;
}

#page{
    width: 100%;
    min-height: 100%;
}

.container{
    width: 735px;
    padding: 0;
}


/* Pre Loader */
.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    z-index: 2;
    h2{
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 200px;
        height: 100px;
        margin-top: -50px;
        margin-left: -100px;
        text-align: center;
        color: $lgt-grey;
        z-index: 999;
    }
}