/* Fonts */
$lato:   'Lato', sans-serif;
$quatto: 'Quattrocento', serif;
$fa:     'FontAwesome';

.lato   { font-family: $lato; }
.quattro{ font-family: $quatto; }
.fa     { font-family: $fa; }


/* Font size */
$alpha: 2.769em;
$bravo: 1.385em;

.alpha{ font-size: $alpha; }
.bravo{ font-size: $bravo; }


/* Color palette */
$med-grey:  #AEAEAE;
$lgt-grey:  #E9E9E9;
$drk-green: #655B45;
$gry-block: #2F2F2F;


.full-bg{
    @include background-size(cover);
}

body,
html{
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 18px;
    font-family: $lato;
    background: url('/images/foggy-road-bg.jpg') fixed no-repeat center;
}

a{
    color: white;
    font-weight: bold;
    &:hover{
        color: white;
        text-decoration: none;
        cursor: pointer;
    }
}

.nopadding{ padding: 0; }

#body-wrapper{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: url('/images/blurry-foggy-road-bg.jpg') fixed no-repeat center;
}

#main{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
}

#page{
    width: 100%;
    height: 100%;
}

.container{
    width: 735px;
    padding: 0;
}

.about{
    // position: relative;
    // width: 695px;
    // padding-left: 40px;
    color: white;
    // &:before{
    //     position: absolute;
    //     content: '';
    //     top: 0;
    //     left: -20px;
    //     height: 200px;
    //     width: 1px;
    //     background: white;
    // }
}