.btn{
    color: $med-grey;
    height: 44px;
    padding: 0 22px;
    line-height: 44px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: .5px;
    background: none;
    border: 1px solid $med-grey;
    @include border-radius(22px, 22px);
    @include single-transition(all, 300ms, ease-in-out);
    &:hover{
        color: $lgt-grey;
        border: 1px solid $lgt-grey;
    }
}

.btn-square{
    @include border-radius(0);
}