header{
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
    // padding-top: 28px;
    z-index: 999;
}

.logo{
    display: block;
    width: 135px;
    height: 44px;
    overflow: hidden;
    background: url('/images/nick-ruiz-logo.png') no-repeat top left;
    // background-image: url('/images/nick-ruiz-logo.svg');
}

.top-nav{
    display: inline-block;
    margin-right: 20px;
    li{
        line-height: 44px;
    }
    a{
        font-weight: 200;
    }
}

.resume{
    text-align: right;
}



/* Boxed nav on landing page */
.nav-items{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 324px;
    margin: -162px 0 0 -364px;
    padding: 0;
    li{
        float: left;
        margin: 0 0 4px 0;
        padding: 0;
    }
    a{
        position: relative;
        display: inline-block;
        width: 240px;
        height: 160px;
        color: #ccc;
        font-size: $alpha;
        font-weight: 100;
        line-height: 160px;
        text-align: center;
        border: 1px solid #ccc;
        @include single-transition(all, 250ms, linear);
    }
    a:hover{
        line-height: 155px;
        color: white;
        border: 1px solid white;
        background: none;
    }
    a::before{
        content: '';
        position: absolute;
        width: 74px;
        height: 1px;
        margin-left: -37px;
        bottom: 60px;
        left: 50%;
        background: white;
        @include opacity(0);
        @include single-transition(all, 250ms, linear);
    }
    a:hover::before,
    a:focus::before{
        bottom: 55px;
        @include opacity(1);
    }
    .mid{
        margin-left: 4px;
        margin-right: 4px;
    }
}