header{
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: 0;
    line-height: 40px;
    z-index: 999;
    &:before{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        @include transition(all 300ms ease-in-out);
        @include transform(translateY(-65px));
        @include opacity(0);
        background: $gry-block;
    }
}

.has-bg{ // Active state of header
    &:before{
        @include transform(translateY(0));
        @include opacity(1);
    }

    .logo{
        margin-top: 0;
        margin-left: -15px;
    }

    .menu{
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        .slogan{
            line-height: 26px;
            border-color: $slogan-border;
        }
        a{
            color: $med-grey;
            &:hover{
                color: $lgt-grey;
            }
        }
    }
}

.menu{
    margin-top: 15px;
    line-height: 35px;
    @include transition(all 300ms linear);
    .slogan{
        margin-right: 15px;
        padding-right: 15px;
        border-right: 1px solid $lgt-grey;
    }
    li{
        margin: 0;
        padding: 0;
        color: $lgt-grey;
    }
}

.logo{
    display: block;
    margin-top: 10px;
    width: 122px;
    height: 40px;
    @include opacity(.85);
    @include transition(all 300ms linear);
    &:hover{
        @include opacity(1);
    }
}

.top-nav{
    display: inline-block;
    margin-right: 20px;
    li{
        line-height: 44px;
    }
    a{
        font-weight: 200;
    }
}

.social{
    font-size: 1.25em;
    color: #ccc;
    a{
        margin-right: 10px;
        color: $lgt-grey;
    }
}



/* Boxed nav on landing page */
.nav-items{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 728px;
    height: 324px;
    margin: -162px 0 0 -364px;
    padding: 0;
    li{
        float: left;
        margin: 0 4px 4px 0;
        padding: 0;
    }
    a{
        position: relative;
        display: inline-block;
        width: 240px;
        height: 160px;
        color: $med-grey;
        font-size: $alpha;
        font-weight: 100;
        line-height: 160px;
        text-align: center;
        border: 1px solid $med-grey;
        @include single-transition(all, 250ms, linear);
    }
    a:hover{
        line-height: 155px;
        color: white;
        border: 1px solid white;
        background: none;
    }
    a::before{
        content: '';
        position: absolute;
        width: 64px;
        height: 1px;
        margin-left: -32px;
        bottom: 60px;
        left: 50%;
        background: $med-grey;
        @include opacity(0);
        @include single-transition(all, 250ms, linear);
    }
    a:hover::before,
    a:focus::before{
        bottom: 55px;
        @include opacity(1);
    }
    .large{ width: 484px; }
    .last{ margin-right: 0; }
}