<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nick Ruiz - Portfolio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <base href="/">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- build:css({.tmp,app}) styles/main.css -->
      <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body class="clearfix" ng-app="webApp">

        <!-- Background control -->
        <div ng-controller="BgCtrl">
          <div class="fade full-bg bg-primary" ng-hide="toggleBg"></div>
          <div class="fade full-bg bg-primary-blur"></div>
        </div>

        <header class="clearfix" ng-class="{ 'has-bg': showHeaderBg }" ng-controller="NavCtrl">
          <div class="col-md-12">
            <a class="logo pull-left" ng-href="#/" ng-click="hideBg()"><img class="img-responsive" src="/images/nick-ruiz-logo.png" alt="Nick Ruiz Portfolio"></a>
            <div class="pull-right text-right">
              <ul class="menu list-inline lato" ng-controller="NavCtrl">

                <li ng-show="showHeaderBg" class="slogan"><a class="charlie slim" ng-href="#/" ng-click="hideBg()"><span class="fa fa-bars"></span></a></li>
                <li ng-show="showHeaderBg"><a class="charlie" href="" ng-click="scrollTop()">TOP</a></li>

                <li ng-hide="showHeaderBg" class="bravo slim slogan">Front End Developer</li>
                <li ng-hide="showHeaderBg" class="bravo slim"><i class="fa fa-rocket"></i></li>
              </ul>
            </div>
          </div>
        </header>


        <div id="main" class="container-fluid" scroll-position>
          <div id="page" class="fadeInOut" ng-view></div>
        </div>


        <!-- Loading overlay -->
        <div class="fade loading" ng-show="routeLoading">
          <h2 class="alpha quattro"><i class="fa fa-circle-o-notch fa-spin"></i></h2>
        </div>


        <!-- Google Analytics -->
        <script>
           (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
           (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
           m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
           })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

           ga('create', 'UA-XXXXX-X');
           ga('send', 'pageview');
        </script>

        <!--[if lt IE 9]>
            <script src="bower_components/es5-shim/es5-shim.js"></script>
            <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/portfolio.js"></script>
        <script src="scripts/controllers/single.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <script src="scripts/controllers/instagram.js"></script>

        <script src="scripts/controllers/bg.js"></script>
        <script src="scripts/controllers/nav.js"></script>

        <script src="scripts/services/changebg.js"></script>
        <script src="scripts/services/portfoliorepo.js"></script>
        <script src="scripts/services/instafeed.js"></script>
        <!-- endbuild -->
</body>
</html>
