<!-- Page meta -->
<div class="content jumbo dark-block text-center clearfix">
  <div class="top container">
    <div class="col-md-6">
      <img class="img-responsive" src="/images/about.png" width="400px" height="400px" alt="About me">
    </div>
    <div class="col-md-6">
      <blockquote class="bravo text-left">
        " Hi my name is Nick, I'm a Front End Developer, Designer and Photographer living in San Diego, CA.
        <div class="sub-quote delta lato">
          Looking for a full-time Front End Dev to add to your team?<br>
          <a class="btn btn-square" ng-href="#contact">Get In Touch</a>
        </div>
      </blockquote>
    </div>
  </div>
</div>

<!-- Bio section -->
<div class="content grey-block caret-dn">
  <div class="container">
    <div class="text-center">
      <p class="description bravo lato">Hi my name is Nick, I'm a Front End Developer, Designer and Photographer living in San Diego, CA. I'm currently searching for <a class="fade" ng-href="#contact">full-time employment</a>. Take a look at my <a class="fade" ng-href="#portfolio">portfolio</a> for examples of work, or see below for a list of some tools I use to get the job done.</p>
    </div>
  </div>
</div>

<!-- Portfolio items -->
<div class="content">
  <div class="container">
    <div class="thumb col-md-4 col-sm-4 col-xs-4 nopadding" ng-repeat="item in items | filter: category">
        <a class="thumbnail" href="{{ item.link }}" title="{{ item.name }}" target="_blank" ng-mouseenter="thumbHover = false" ng-mouseleave="thumbHover = true">
            <img ng-src="images/about/{{ item.name }}.jpg" alt="">
            <span class="my-elm bravo" ng-hide="thumbHover">Learn More</span>
        </a>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="content dark-block">
  <div class="container">
    <div class="col-md-12">
      <h3 class="lato">Nick V Ruiz</h3>
      <hr>
    </div>
    <div class="col-md-10">
      <a ng-href="#portfolio">portfolio</a>
      <a ng-href="#about">about</a>
      <a ng-href="#instagram">instagram</a>
      <a ng-href="#contact">contact</a>
    </div>
    <div class="col-md-2 social text-right">
      <a href="https://www.linkedin.com/in/nickvruiz" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/nickvruiz/" target="_blank"><i class="fa fa-github"></i></a>
      <a href="http://instagram.com/nickvruiz" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</footer>