<div class="top container center-block">
    <h1 class="alpha">THIS IS THE BLOG PAGE</h1>
    <small class="bravo">And some text blog it...</small>
    <blockquote>"Going to put an inspirational quote in here" - nick</blockquote>
</div>
<div class="breadcrumb-block">
    <ol class="breadcrumb container" ng-controller="NavCtrl">
      <li><a ng-href="#/" ng-click="hideBg()"><span class="glyphicon glyphicon-th"></span></a></li>
      <li><a ng-href="#portfolio/web">Web</a></li>
      <li><a ng-href="#portfolio/photo">Photo</a></li>
      <li><a ng-href="#portfolio/video">Video</a></li>
      <li><a ng-href="#about">About</a></li>
      <li class="active"><a ng-href="#blog">Blog</a></li>
      <li><a ng-href="#contact">Contact</a></li>
    </ol>
</div>
<div class="content container">
    <div class="masonry-box" masonry masonry-options="{ columnWidth: 1 }">
        <div class="masonry-brick" ng-repeat="brick in bricks">
            <img ng-src="images/grid/{{ brick.src }}.jpg" alt="A masonry brick">
        </div>
    </div>
</div>