<div class="top container center-block">
    <h1 class="alpha">THIS IS THE CONTACT PAGE</h1>
    <small class="bravo">And some text about it...</small>
    <blockquote>"Going to put an inspirational quote in here" - nick</blockquote>
</div>
<div class="breadcrumb-block">
    <ol class="breadcrumb container" ng-controller="NavCtrl">
      <li><a ng-href="#/" ng-click="hideBg()"><span class="glyphicon glyphicon-th"></span></a></li>
      <li><a ng-href="#portfolio/web">Web</a></li>
      <li><a ng-href="#portfolio/photo">Photo</a></li>
      <li><a ng-href="#portfolio/video">Video</a></li>
      <li><a ng-href="#about">About</a></li>
      <li><a ng-href="#blog">Blog</a></li>
      <li class="active"><a ng-href="#contact">Contact</a></li>
    </ol>
</div>
<div class="content row">
    <div class="container">
        <h2>This is the contact page content</h2>
        <img ng-src="/images/portfolio/web/0/0.png" alt="" />
    </div>
</div>