<!-- Portfolio items -->
<div class="text-center contact">
  <div class="top container">
    <h1 class="mega quattro">CONTACT</h1>
    <small class="bravo">Why hello there...</small>
  </div>

  <div class="container">
    <a class="mail btn btn-square" href="mailto:nick@fatcatonline.net"><i class="fa fa-send"></i>nick@fatcatonline.net</a>
  </div>
  <div class="container social text-center">
    <a href="https://www.linkedin.com/in/nickvruiz" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a class="mid" href="https://github.com/nickvruiz/" target="_blank"><i class="fa fa-github"></i></a>
    <a href="http://instagram.com/nickvruiz" target="_blank"><i class="fa fa-instagram"></i></a>
  </div>
</div>

<!-- Footer -->
<footer class="content dark-block">
  <div class="container">
    <div class="col-md-12">
      <h3 class="lato">Nick V Ruiz</h3>
      <hr>
    </div>
    <div class="col-md-10">
      <a ng-href="#portfolio">portfolio</a>
      <a ng-href="#about">about</a>
      <a ng-href="#instagram">instagram</a>
      <a ng-href="#contact">contact</a>
    </div>
    <div class="col-md-2 social text-right">
      <a href="https://www.linkedin.com/in/nickvruiz" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/nickvruiz/" target="_blank"><i class="fa fa-github"></i></a>
      <a href="http://instagram.com/nickvruiz" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</footer>