<!-- Page meta -->
<div class="content jumbo dark-block text-center clearfix">
  <div class="top container">
    <h1 class="mega quattro">INSTAGRAM</h1>
    <!-- <small class="bravo">some stuff</small> -->
  </div>
</div>

<!-- Stats section -->
<div class="content grey-block caret-dn">
  <div class="container">
    <div class="text-center">
      <p class="description bravo lato">Bred for his skills in magic. # Phone cam and instagram</p>
    </div>
  </div>
</div>

<!-- Grams -->
<div class="content">
    <div class="container">
      <div class="thumb col-md-4 col-sm-4 col-xs-4 nopadding" ng-repeat="gram in grams">
        <a class="thumbnail" href="{{ gram.link }}" title="{{ gram.caption.text }}" target="_blank" ng-mouseenter="thumbHover = false" ng-mouseleave="thumbHover = true">
          <img ng-src="{{ gram.images.low_resolution.url }}" alt="">
          <span class="my-elm bravo" ng-hide="thumbHover">{{ gram.filter }}</span>
        </a>
      </div>
    </div>
</div>

<!-- Footer -->
<footer class="content dark-block">
  <div class="container">
    <div class="col-md-12">
      <h3 class="lato">Nick V Ruiz</h3>
      <hr>
    </div>
    <div class="col-md-10">
      <a ng-href="#portfolio">portfolio</a>
      <a ng-href="#about">about</a>
      <a ng-href="#instagram">instagram</a>
      <a ng-href="#contact">contact</a>
    </div>
    <div class="col-md-2 social text-right">
      <a href="https://www.linkedin.com/in/nickvruiz" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/nickvruiz/" target="_blank"><i class="fa fa-github"></i></a>
      <a href="http://instagram.com/nickvruiz" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</footer>