<!-- Page meta -->
<div class="content green-block">
  <div class="top container center-block">
    <h1 class="alpha">INSTAGRAM</h1>
    <small class="bravo">Bred for his skills in magic. # Phone cam and instagram</small>
  </div>
</div>

<!-- Portfolio items -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 nopadding" ng-repeat="gram in grams">
                <a class="thumbnail" href="{{ gram.id }}" title="{{ gram.link }}" ng-mouseenter="thumbHover = false" ng-mouseleave="thumbHover = true">
                    <img ng-src="{{ gram.images.low_resolution.url }}" alt="">
                    <span class="my-elm bravo" ng-hide="thumbHover">{{ gram.filter }}</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="content dark-block">
  <div class="container">
    <div class="row">
      <h3 class="lato">Nick V Ruiz</h3>
    <hr>
    </div>
    <div class="row">
      <a href="#portfolio">portfolio</a>
      <a href="#about">about</a>
      <a href="#instagram">instagram</a>
      <a href="#contact">contact</a>
    </div>
  </div>
</footer>