<!-- <nav ng-controller="NavCtrl">
    <ul class="nav-items center-block list-inline clearfix">
        <li><a class="large" ng-href="#portfolio" ng-click="showBg()">PORTFOLIO</a></li>
        <li class="last"><a href="/pdf/link-to-resume">RESUME</a></li>
        <li><a ng-href="#about" ng-click="showBg()">ABOUT</a></li>
        <li><a ng-href="#instagram" ng-click="showBg()">GRAMS</a></li>
        <li class="last"><a href="" ng-click="reveal()">CONTACT</a></li>
    </ul>
</nav> -->

<div ng-controller="NavCtrl">
    <ul ng-hide="hideMainNav" class="nav-items center-block list-inline fade clearfix">
        <li><a class="large" ng-href="#portfolio" ng-click="showBg()">PORTFOLIO</a></li>
        <li class="last"><a href="/pdf/link-to-resume">RESUME</a></li>
        <li><a ng-href="#about" ng-click="reveal()">ABOUT</a></li>
        <li><a ng-href="#instagram" ng-click="showBg()">GRAMS</a></li>
        <li class="last"><a href="mailto:nick@fatcatonline.net">CONTACT</a></li>
    </ul>

    <div ng-show="hideMainNav" class="about fade">
        <p class="alpha"><strong>Nick Ruiz</strong></p>
        <p class="bravo">nick@nickvruiz.com</p>
        <p class="bravo"><a href="" ng-click="remove()"><i class="fa fa-chevron-left"></i></a></p>
    </div>
</div>