<nav ng-controller="NavCtrl">
    <ul class="nav-items container center-block list-inline">
        <li><a ng-href="#portfolio/web" ng-click="showBg()">WEB</a></li>
        <li class="mid"><a ng-href="#portfolio/photo" ng-click="showBg()">PHOTO</a></li>
        <li><a ng-href="#portfolio/video" ng-click="showBg()">VIDEO</a></li>
        <li><a ng-href="#about" ng-click="showBg()">ABOUT</a></li>
        <li class="mid"><a ng-href="#blog" ng-click="showBg()">BLOG</a></li>
        <li><a ng-href="#contact" ng-click="showBg()">CONTACT</a></li>
    </ul>
</nav>