<nav ng-controller="NavCtrl" class="fade" ng-hide="routeLoading">
    <ul class="nav-items center-block list-inline fade clearfix">
        <li><a class="large" ng-href="/portfolio/web/0" ng-click="showBg()">PORTFOLIO</a></li>
        <li class="last"><a href="/pdf/nickvruiz-resume.pdf" target="_blank">RESUME</a></li>
        <li><a ng-href="#about" ng-click="showBg()">ABOUT</a></li>
        <li><a ng-href="#instagram" ng-click="showBg()">GRAMS</a></li>
        <li class="last"><a ng-href="#contact"  ng-click="showBg()">CONTACT</a></li>
    </ul>
</nav>