<!-- Page meta -->
<div class="content text-center clearfix">
  <div class="top container">
    <h1 class="mega quattro">PORTFOLIO</h1>
    <small class="bravo">A collection of client and personal work</small>
  </div>

  <!-- Filter -->
  <div class="container">
    <ul class="list-inline filters charlie">
      <li class="active"><a ng-click="category = null">all</a></li>
      <li><a ng-click="category = 'web'">web</a></li>
      <li><a ng-click="category = 'photo'">photo</a></li>
    </ul>
  </div>
</div>

<!-- Portfolio items -->
<div class="content dark-block">
  <div class="container">
    <div class="col-md-4 col-sm-4 col-xs-6 nopadding" ng-repeat="item in items | filter: category">
        <a class="thumbnail" href="#portfolio/{{ item.category }}/{{ item.id }}" title="{{ item.name }}" ng-mouseenter="thumbHover = false" ng-mouseleave="thumbHover = true">
            <img ng-src="images/portfolio/grid/{{ item.id }}.jpg" alt="">
            <span class="my-elm bravo" ng-hide="thumbHover">{{ item.name }}</span>
        </a>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="content">
  <div class="container">
    <div class="col-md-12">
      <h3 class="lato">Nick V Ruiz</h3>
      <hr>
    </div>
    <div class="col-md-10">
      <a ng-href="#portfolio">portfolio</a>
      <a ng-href="#about">about</a>
      <a ng-href="#instagram">instagram</a>
      <a ng-href="#contact">contact</a>
    </div>
    <div class="col-md-2 social text-right">
      <a href="https://www.linkedin.com/in/nickvruiz" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/nickvruiz/" target="_blank"><i class="fa fa-github"></i></a>
      <a href="http://instagram.com/nickvruiz" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</footer>