<!-- Title and description -->
<div class="top container center-block">
    <h1 class="alpha">{{ category }}</h1>
    <small class="bravo">{{ description }}</small>
    <div class="testimonial clearfix">
        <img src="/images/testimonial-jac.jpg" alt="" class="img-circle">
        <blockquote>"Going to put an inspirational quote in here" - nick</blockquote>
    </div>
</div>

<!-- Breadcrumbs -->
<div class="breadcrumb-block">
    <ol class="breadcrumb container" ng-controller="NavCtrl">
        <li><a ng-href="#/" title="Show Menu" ng-click="hideBg()"><span class="glyphicon glyphicon-th"></span></a></li>
        <li class="active">{{ category }}</li>
    </ol>
</div>

<!-- Portfolio items -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 nopadding" ng-repeat="item in items | filter: { category: category}">
                <a class="thumbnail" href="#portfolio/{{ category }}/{{ item.id }}" title="{{ item.name }}" ng-mouseenter="thumbHover = false" ng-mouseleave="thumbHover = true">
                    <img ng-src="images/portfolio/grid/{{ item.id }}.jpg" alt="">
                    <span class="my-elm bravo" ng-hide="thumbHover">{{ item.name }}</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="content dark-block">
  <div class="container">
    <div class="row">
      <h3 class="lato">Nick V Ruiz</h3>
    <hr>
    </div>
    <div class="row">
      <a href="">web</a>
      <a href="">photo</a>
      <a href="">video</a>
      <a href="">about</a>
      <a href="">blog</a>
      <a href="">contact</a>
    </div>
  </div>
</footer>