<!-- Title and description -->
<!-- <div class="top container center-block">
    <h1 class="alpha">{{ category }}</h1>
    <small class="bravo">{{ description }}</small>
    <div class="testimonial clearfix">
        <img src="/images/testimonial-jac.jpg" alt="" class="img-circle">
        <blockquote>"Going to put an inspirational quote in here" - nick</blockquote>
    </div>
</div> -->
<div class="top container center-block">
    <h1 class="alpha">PORTFOLIO</h1>
    <small class="bravo">A collection of client and personal work.</small>
    <!-- <div class="testimonial clearfix">
        <img src="/images/testimonial-jac.jpg" alt="" class="img-circle">
        <blockquote>"Going to put an inspirational quote in here" - nick</blockquote>
    </div> -->
</div>

<!-- Breadcrumbs -->
<div class="breadcrumb-block">
  <div class="container">
    <ol class="breadcrumb col-md-4" ng-controller="NavCtrl">
        <li><a ng-href="#/" title="Show Menu" ng-click="hideBg()"><span class="glyphicon glyphicon-th"></span></a></li>
        <!-- <li class="active">{{ category }}</li> -->
        <li class="active">PORTFOLIO</li>
    </ol>
    <ol class="breadcrumb col-md-8 text-right">
        <li>Filter:</li>
        <li><a ng-click="category = null">all</a></li>
        <li><a ng-click="category = 'web'">web</a></li>
        <li><a ng-click="category = 'photo'">photo</a></li>
    </ol>
  </div>
</div>

<!-- Portfolio items -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4 nopadding" ng-repeat="item in items | filter: category">
                <a class="thumbnail" href="#portfolio/{{ item.category }}/{{ item.id }}" title="{{ item.name }}" ng-mouseenter="thumbHover = false" ng-mouseleave="thumbHover = true">
                    <img ng-src="images/portfolio/grid/{{ item.id }}.jpg" alt="">
                    <span class="my-elm bravo" ng-hide="thumbHover">{{ item.name }}</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="content dark-block">
  <div class="container">
    <div class="row">
      <h3 class="lato">Nick V Ruiz</h3>
    <hr>
    </div>
    <div class="row">
      <a href="">portfolio</a>
      <a href="">about</a>
      <a href="">instagram</a>
      <a href="">contact</a>
    </div>
  </div>
</footer>