<!-- Page meta -->
<div class="top container center-block">
    <h1 class="alpha">{{ slug }}</h1>
    <small class="bravo">{{ desc }}</small>
    <div class="testimonial clearfix">
        <img src="/images/testimonial-jac.jpg" alt="" class="img-circle">
        <blockquote>"Going to put an inspirational quote in here" - nick</blockquote>
    </div>
</div>

<!-- Breadcrumbs -->
<div class="breadcrumb-block">
    <ol class="breadcrumb container" ng-controller="NavCtrl">
      <li><a ng-href="#/" ng-click="hideBg()"><span class="glyphicon glyphicon-th"></span></a></li>
      <!-- <li><a ng-href="#portfolio/{{ category }}">{{ category }}</a></li> -->
      <li><a ng-href="#portfolio">PORTFOLIO</a></li>
      <li class="active">{{ slug }}</li>
    </ol>
</div>

<!-- Portfolio item images -->
<div class="content" ng-class="{ 'main-block': bar }">
    <ul class="portfolio-items list-unstyled center-block" ng-class="{ 'container': !bar }">
        <li ng-repeat="img in imgs">
          <div ng-show="bar" class="bar">
            <div class="col-md-6 col-sm-6 col-xs-6 text-left">
              <fa class="fa fa-circle"></fa>
              <fa class="fa fa-circle"></fa>
              <fa class="fa fa-circle"></fa>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right"><fa class="fa fa-rotate-right fa-lg"></fa></div>
          </div>
          <img ng-src="/images/portfolio/{{ id }}/{{ img }}.jpg" alt="" class="img-responsive" />
        </li>
    </ul>
</div>

<!-- Visit website link -->
<div class="content dark-block">
    <div class="container">
        <div class="row text-center">
            <a ng-href="{{ url }}" class="btn" title="name" target="_blank">Visit Website</a>
        </div>
    </div>
</div>

<!-- More work section -->
<div class="content grey-block caret-dn">
  <div class="container">
    <div class="row text-center">
      <h2 class="quattro">VIEW MORE WORK</h1>
    </div>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-6 nopadding" ng-repeat="item in items">
        <a class="thumbnail" href="#portfolio/{{ item.category }}/{{ item.id }}" title="{{ item.name }}" ng-mouseenter="thumbHover = false" ng-mouseleave="thumbHover = true">
            <img ng-src="images/portfolio/grid/{{ item.id }}.jpg" alt="">
            <span class="my-elm bravo" ng-hide="thumbHover">{{ item.name }}</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="content dark-block">
  <div class="container">
    <div class="row">
      <h3 class="lato">Nick V Ruiz</h3>
    <hr>
    </div>
    <div class="row">
      <a href="#portfolio">portfolio</a>
      <a href="#about">about</a>
      <a href="#instagram">instagram</a>
      <a href="#contact">contact</a>
    </div>
  </div>
</footer>