<!-- Page meta -->
<div class="content jumbo dark-block text-center clearfix">
  <div class="top container">
    <h1 class="mega quattro">{{ slug }}</h1>
  </div>

  <!-- Pagination - Uses paginate directive -->
  <div class="container">
    <ul class="col-md-12 list-inline filters charlie">
      <li><a ng-href="#portfolio/{{ prevCat }}/{{ prev }}" title="Previous Project"><i class="fa fa-caret-left"></i>Prev</a></li>
      <li class="mid"><a ng-href="#portfolio" title="All Portfolio Projects">ALL</a></li>
      <li><a ng-href="#portfolio/{{ nextCat }}/{{ next }}" title="Next Project">Next<i class="fa fa-caret-right"></i></a></li>
    </ul>
  </div>
</div>

<!-- More work section -->
<div class="content grey-block caret-dn">
  <div class="container">
    <div class="text-center">
      <p class="description bravo lato">{{ desc }}</p>
    </div>
  </div>
</div>

<!-- Portfolio item images -->
<div class="content" ng-class="{ 'main-block': bar }">
    <ul class="portfolio-items list-unstyled center-block" ng-class="{ 'container': !bar }">
        <li ng-repeat="img in imgs">
          <div ng-show="bar" class="bar">
            <div class="col-md-6 col-sm-6 col-xs-6 text-left">
              <fa class="fa fa-circle"></fa>
              <fa class="fa fa-circle"></fa>
              <fa class="fa fa-circle"></fa>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
              <fa class="fa fa-rotate-right fa-lg"></fa>
            </div>
          </div>
          <img ng-src="/images/portfolio/{{ id }}/{{ img }}.jpg" alt="" class="img-responsive" />
        </li>
    </ul>
</div>

<!-- Visit website link -->
<div class="content dark-block">
    <div class="container">
        <div class="text-center">
            <a ng-href="{{ url }}" class="btn" title="name" target="_blank">Visit Website</a>
        </div>
    </div>
</div>

<!-- More work section -->
<div class="content grey-block caret-dn">
  <div class="container">
    <div class="text-center">
      <h2 class="quattro">VIEW MORE WORK</h1>
    </div>
  </div>
</div>
<div class="content">
  <div class="container">
    <div class="">
      <div class="thumb col-md-4 col-sm-4 col-xs-4 nopadding" ng-repeat="item in items">
        <a class="thumbnail" href="#portfolio/{{ item.category }}/{{ item.id }}" title="{{ item.name }}" ng-mouseenter="thumbHover = true" ng-mouseleave="thumbHover = false">
            <img ng-src="images/portfolio/grid/{{ item.id }}.jpg" alt="">
            <span class="my-elm bravo" ng-show="thumbHover">{{ item.name }}</span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="content dark-block">
  <div class="container">
    <div class="col-md-12">
      <h3 class="lato">Nick V Ruiz</h3>
      <hr>
    </div>
    <div class="col-md-10">
      <a ng-href="#portfolio">portfolio</a>
      <a ng-href="#about">about</a>
      <a ng-href="#instagram">instagram</a>
      <a ng-href="#contact">contact</a>
    </div>
    <div class="col-md-2 social text-right">
      <a href="https://www.linkedin.com/in/nickvruiz" target="_blank"><i class="fa fa-linkedin"></i></a>
      <a href="https://github.com/nickvruiz/" target="_blank"><i class="fa fa-github"></i></a>
      <a href="http://instagram.com/nickvruiz" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
  </div>
</footer>